
body{
    /* body style */
    background-image: url(../images/experience.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 45%;
}
h1{
    font-size: 7rem;
    border-radius: 2rem;
    margin: 2rem 0 0 0;
    padding: 0;
    text-align: center;
}
.right-align{
    text-align: right;    
}
/****************** body ********************/
/****float boxes****/
.box{
    max-width: 550px;
    width: 85%;
    height: 130px;
    padding: 1rem;
    margin: -5rem;
    background-color: #463f3a;
    color: white;
    display: inline-block;    
}
.posiiton{
    position: relative;
    top: 100px;
    right: 400px;
}
.box2{
    max-width: 500px;
    width: 85%;
    height: 450px;
    padding: 1rem;
    margin: -5rem;
    background: #1565c0;
    border-radius: 1rem;
    color: white;
    font-size: 16px;
    display: inline-block;  
}
.posiiton2{
    position: relative;
    top: 220px;
    right: 400px;
}
ul{
    display: flex;
    text-align: left;
    padding: 0;
    flex-direction: column;
    color: #fee440;
    padding-left: 2rem;
    font-family: Calibri;
}
li{
    font-size: 20px;
    border-bottom: 1px solid white;
    padding: 1.5rem;
}
ul p{
    margin: 0;
    font-size: 18px;
}
/**************** footer ***************/
/*float footer*/
.box3{
    max-width: 450px;
    width: 85%;
    height: 40px;
    padding: 1rem;
    margin: -5rem;
    background: #b08968;
    color: white;
    font-size: 30px;
    border-radius: 1rem;
}
.posiiton3{
    position: relative;
    top: 400px;
    right: -300px;
}
a{
    padding: 10px;
    font-size: 30px;
    background-color: #ede0d4;
    color: #3d405b;
    text-decoration: none;
    border-radius: 22px;
    font-family: Calibri;
}
a:hover{
    background-color: #4361ee;
    padding: 0.9rem;
}
