*{
    background-color: #00BBF9;
    font-family: sans-serif;
}
h1{
    color: whitesmoke;
    font-size: 55px;
    margin: 2rem 0 5rem 0;
    text-align: center;
}
/***********body************/
a{
    /* styling the link buttons*/
    margin-bottom: 12px;
    width: 125px;
    display: flex;
    background-color: #F15BB5;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}
/* hover action */
a:hover{
    background-color: #FEE440;
    color: black;
    padding: 1rem;
}
.content-wrap{
    margin: 0 auto;
    width: 50%;
}
.grid-view{
    /* display style */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
    display: inline-block;
    margin: -1rem 0 0 -5rem;
    border-radius: 35px;
    border: 4px solid #073B4C;
    opacity: 85%;
    padding: 0;
    max-width:400px;
    width: 100%;
}
/* icon style */
i{
    background-color: inherit;
    padding-right: 8px;
}
