*{
    text-align: center;
    background-color: #FDCA40;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 3.5rem;
    font-family: Calibri;
    background-color: #00F5D4;
    border-radius: 48px;
}
/*************************body****************/
h2,h3,h4,h5,h6{
    /* style h2,3,4,5,6 combined*/
    font-family: Calibri;
    font-size: 20px;
    border-top: 2rem;
    border-left: 3px solid #7ae582;
    background-color: #adf7b6;
    padding: 5px;
    margin: 1rem;
    margin-bottom: 0;
    border-radius: 3px;
}
h5,h6{
    font-size: 19px;
    margin-bottom: 1rem;
}
h2{
    margin-top: 1.8rem;
}
section{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
}
.content-wrap{
    border-radius: 10px;
    padding: 0 5rem 0 5rem;
    margin: 0 0 0 2rem;
    background-color: #FB5607;
}
img{
    border: 3px #000814 solid;
    border-radius: 8px;
}

a{
    padding: 5px;
    background-color: #32936F;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1rem;
}
a:hover{
    background-color: #3A86FF;
    color: white;
    padding: 0.5rem;
}
p{
    padding: 5px;
    margin: 0 1rem 0 1rem;
    color: #562c2c;
}

/*********************** footer **************/
footer a{
    border: 3px solid #ff5400;
    background-color: #ff002b;
    width: 8rem;
    margin: 0 1rem 0 1rem;
}
footer a:hover{
    background-color: #ff8000;
    color: black;
}
footer{
    display: flex;
    margin: 2rem 0 0 2rem;
}
