body{
    background-color: #f6f4d2; 
}
.div1{
    background-image: url(../images/testing.png);
    background-repeat:no-repeat ;
}
.div2{
    background-image: url(../images/project.png);
    background-repeat:no-repeat ;
}

.div-style{
    padding: 25% 0 10% 20%;
    max-width: 100%;
    margin: 1% 0.5rem 1rem 1rem;
    width: 8rem;
    display: inline-flexbox;
}
.vertical-disp{
    display: flex;
}
h1{
    font-size: 45px;
}
.box{
    max-width: 400px;
    height: 50px;
    padding: 1rem;
    margin: -5rem;
    background-color: #84a98c;
    color: #081c15;
    display: inline-block; 
    border: 3px solid #52796f;
}
.posiiton{
    position: relative;
    top: 100px;
    right: -100px;
}
.section-style{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
}
.content-wrap{
    display: inline-flexbox;
    padding: 0 0rem 0 0rem;
    margin: 0 0 0 0rem;
    font-size: 20px;
}
.box2{
    max-width:650px;
    width: 85%;
    height: 490px;
    padding: 1rem;
    /* margin: -5rem; */
    background-color: #83e377;
    color: white;
}
.posiiton2{
    position: relative;
    top: 170px;
    right: 20px;
}

a{
    padding: 1px;
    font-size: 17px;
    background-color: #ffe600;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: Calibri;
}
a:hover{
    background-color: #b0f2b4;
    padding: 0.4rem;
}

/*footer*/
.box3{
    height: 25px;
    width: 250px;
    padding: 0.8rem;
    margin: -3rem;
    background-color: #dddddd;
    color: white;
    font-size: 30px;
    border-radius: 2px;
    display: inline-block;
}
.posiiton3{
    position: relative;
    top: 590px;
    right: 1250px;
}
