/*
background-color: #E83f6f
inner background-color: #ffbf00
button/link color #32936F
*/
*{
    font-family: sans-serif;
    background-color: #E83f6f;
}
h1{
    color: black;
    background-color: #ffbf00;
    font-size: 50px;
    margin-top: -10px;
}

/*button/link*/
a{
    text-decoration: none;
    color: white;
    background-color: #32936F;
    padding: 11px;
    border-radius: 6px;
}
/*-- link hover action --*/
a:hover{
    background-color: #2274A5;
    padding: 1rem;
}

/*Style the div*/
.div-prop{
    text-align: center;
    background-color: #ffbf00;
    border-radius: 25px;
    margin: 0 8rem 0 8rem;
    margin-top: 15rem;
    padding: 5rem 0 5rem 0;
}
